.played-letters-container {
    background-color: antiquewhite;
    height: 3lh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.played-letters-container ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.played-letters-container li {
    list-style: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}