.player-input-container {
    background-color: burlywood;
}

.word-input-field {
    padding: 12px 17px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.word-input-submit {
    font-family: 'Times New Roman', Times, serif
}

.player-input-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}